body{
    margin-top: 0;
    height: 3500px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header{
    font-family: 'Open Sans', sans-serif;
    font-size: 99%;
}

main{
    height: 2555px;
}

a{
    text-decoration: none;
    color: black;
}

#regbut:hover{
    background-color: #f0626e;
}

#table2 button:hover{
    background-color: #f0626e;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin: 0; 
    height: 0.1px;
}

.list li {
   display: inline; 
   border: 0px;
}

.up {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    flex: 0 1 calc(25% - 30px);
    margin: 0 11.5% 5px 0;
}

.up a {
    text-decoration-line: none;  
    color: #000;
    letter-spacing: 1px;
    margin-left: 25px;
}

.up ol{
    height: 23px;
    margin-top: 7px;
}



.mid{
    display: flex;
    justify-content:space-between;
    margin: 0 11% 0 11%;
    height: 95px;
}

.mid a {
    text-decoration-line: none;
    color: white;
    padding: 0 10px;
}

.mid li {
    display: inline; 
    margin-left: 1.4px;
    letter-spacing: 1px;
}

.mid ol{
    width: 45.6%;
    height: 25px;
    display: block;
    margin-top: 37px;
 
}

.mid li:first-child:hover{
    background-color: #2F323A;
}

.mid li:nth-child(2n):hover{
    background-color: #2F323A;
}

.mid li:nth-child(3n):hover{
    background-color: #2F323A;
}

.mid li:first-child{
    background-color: #05aecc;
    padding: 34px 14px;
}

.mid li:nth-child(2){
    background-color: #f0626e;
    padding: 34px 19.5px;
}

.mid li:nth-child(3){
    background-color: #05aecc;
    padding: 34px 17px;
}

.mid li:last-child{
    background-color: #f0626e;
    padding: 34px 32px;
}

.mid a>img{
    position: absolute;
    top: 20px;
    left: 191px;
}




.bott{
    display: flex;
    justify-content: space-around;
    width: 77.8%;
    height: 72px;
    background-color: #05aecc;
    margin: 10px 11% 10px 11.1%;
}

.bott ol{
    display: inline-flex;
    justify-content: space-evenly; 
    width: 990px;
    padding: 0;
    list-style-type: none;
    padding-left: 0;
    margin: auto; 
}

.bott a {
    text-decoration-line: none;
    color: white;
    padding: 26px 25.5px;
}

.bott a:hover{
    background-color: white;
    color: #f0626e;
}

.bott li{
    letter-spacing: 1px;
}






.wear {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 11% 0 11%;
}

.column {
    flex: 20%;
    justify-content: center;
}

.column img {
    vertical-align: middle;
    margin-top: 5px;
  /* width: 100%; */
}

.col1{
    width: 670px;
    margin: 0 5px 0 0;
}

.col2{
    width: 494px;
    margin: 0 0 4px 0;
}

.men{
    position: relative;
    height: 0.001px;
    margin: 0;
}

.column>.men>#bckgr-men{
    position: relative;
    top: -165px;
}

.column>.men>#bckgr-lorem{
    position: relative;
    top: -367px;
}

#menswear{
    font-family: 'Playfair Display', serif;
    letter-spacing:1px;
    font-size: 290%;
    color: #f0626e;
    word-spacing: 6px;
    position: relative;
    top: -318px;
    left: 3%;
}

#loremmen{
    font-family: 'Open Sans', sans-serif;
    font-size: 99%;
    text-transform: uppercase;
    font-size: 85%;
    color:white;
    position: relative;
    top: -365px;
    left: 3%;
    width: 310px;
    line-height: 15px;
}

#loremmen2{
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    color:white;
    position: relative;
    top: -415px;
    left: 2.5%;
}

.search{
    position: relative;
    height: 0.001px;
    top: -132px;
    left: 56px;
}

.search a{
    position: relative;
    top: 17px;
    margin-left: 10px;
    color: white;
    font-size: 350%;
    text-decoration-line: none;
}

.search input{
    height: 69px;
    width: 480px;
    border: none;
}

input::placeholder{
    font-size: 110%;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
}

.crafts{
    position: relative;
    height: 0.001px;
    top: -132px;
    left: 56px;
}

.crafts{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: white;
    height: 0.001px;
    top: -84px;
    left: 38.9%;
    margin: 0;
}

.crafts a{
    color: white;
}

.crafts li:nth-child(2n):hover{
    background-color: #2F323A;
}

.crafts li:nth-child(3n):hover{
    background-color: #2F323A;
}

.crafts li:first-child{
    position: relative;
    background-color: #382c4cce;
    font-size: 160%;
    top: 37.7px;
    padding: 10.5px 50px;
    letter-spacing: 2px;
    margin: 0;
}

.crafts li:nth-child(2){
    position: relative;
    background-color: #00a1be;
    padding: 12.9px 14.4px;
    left: -4px;
    top: 36.8px;
    font-size: 140%;
}

.crafts li:nth-child(3){
    position: relative;
    background-color: #f0626e;
    padding: 12.9px 13.8px;
    font-size: 140%;
    left: -8.4px;
    top: 36.8px;
}

.crafts li:last-child{
    position: relative;
    background-color: #323232;
    padding: 12.8px 18.5px;
    font-size: 140%;
    top: 36.8px;
    left: -12.5px;
}



.women{
    position: relative;
    margin: 0;
    height: 0.001px;
}

.column>.women>#bckgr-women{
    position: relative;
    top: -97px;
}

#womenswear{
    font-family: 'Playfair Display', serif;
    position: relative;
    font-size: 170%;
    color: #f0626e;
    word-spacing: 8px;
    letter-spacing: 0.5px;
    margin: 0;
    top: -175px;
    left: 3%;
}

#womenlorem{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-transform: uppercase;
    font-size: 75%;
    top: -186px;
    left: 3%;
    width: 236px;
    line-height: 15px;
    color: white;
}

.kids{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 0.001px;
    width: 300px;
    top: -84px;
    left: 40.8%;
    color: white;
    margin: 0;
}

.kids a{
    color: white;
}

.kids li:nth-child(2n):hover{
    background-color: #2F323A;
}

.kids li:nth-child(3n):hover{
    background-color: #2F323A;
}

.kids li:first-child{
    position: relative;
    background-color: #05aecc;
    font-size: 95%;
    top: 10px;
    padding: 17px 9px;
    letter-spacing: 1px;
}

.kids li:nth-child(2){
    position: relative;
    background-color: #00a1be;
    padding: 12.2px 14.7px;
    left: -4px;
    top: 13px;
    font-size: 140%;
}

.kids li:nth-child(3){
    position: relative;
    background-color: #f0626e;
    padding: 12.2px 13.3px;
    font-size: 140%;
    left: -8px;
    top: 13px;
}

.kids li:last-child{
    position: relative;
    background-color: #323232;
    padding: 12.2px 9.8px;
    font-size: 140%;
    top: -21.4px;
    left: 69%;
}

.jewelry{
    position: relative;
    height: 0.001px;
    top: -460px;
    left: 80.3%;
    margin: 0;
}

.jewelry p{
    position: relative;
    transform: rotate(270deg);
    color: white;
    top: 160px;
    left: -192px;
    font-size: 320%;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.jewelry i:hover{
    color:#2F323A
}

.jewelry a{
    color: white;
}

.jewelry i{
    padding-left: 27px;
}







.text{
    margin: 3.4% 11% 0 11%;
}
.newprodtext{
    display: flex;
    justify-content:space-between;
    border-bottom: 0.9px solid #b9b9b9;
}

.newprodtext p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 30px;
    letter-spacing: 1px;
    font-size: 170%;
    width: 200px;
    height: 43px;
    position: relative;
    top: 0.9px;
    border-bottom: 0.9px solid #f0626e;
    color: #00a1be;
}
.newprodtext li:hover{
    background-color: #05aecc;
}

.newprodkids a{
    color: white;
}

.newprodtext li{
    position: relative;
    top: -7px;
    background-color:#323232;
    color: white;
    padding: 24px 26px;
    font-size: 180%;
}

.newprodtext>.list li:first-child{
    position: relative;
    left: 3.5px;
}

.newprodpic{
    display: flex;
    justify-content:space-between;
    margin-top: 26px;
    height: 200px;
}

.newprodkids>.list {
    font-family: 'Open Sans', sans-serif;
    height: 54.8px;
    width: 350px;
    position: relative;
    top: -121px;    
    left: 11%;
    color: white;
}



.newprodkids>.list li:nth-child(2n):hover{
    background-color: #2F323A;
}

.newprodkids>.list li:nth-child(3n):hover{
    background-color: #2F323A;
}

.newprodkids>.list li:first-child{
    
    background-color: #05aecc;
    font-size: 100%;
    position: relative;
    top: -2.5px;
    width: 105px;
    padding: 16.4px 12px; 
}

.newprodkids>.list li:nth-child(2){
    background-color: #00a1be;
    padding: 12.2px 14.7px;
    position: relative;
    right: 4.5px;
    font-size: 140%;
}

.newprodkids>.list li:nth-child(3){
    background-color: #f0626e;
    font-size: 140%;
    padding: 12.2px 13px;
    position: relative; 
    right: 8.5px;
}

.newprodkids>.list li:last-child{
    background-color: #323232;
    font-size: 140%;
    padding: 12.2px 9.8px;
    position: relative; 
    right: 13px;
}





.feturedtext{
    display: flex;
    justify-content:space-between;
    border-bottom: 0.9px solid #b9b9b9;
    margin-top: 39px;
}

.feturedtext p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 30px;
    letter-spacing: 1px;
    font-size: 170%;
    width: 260px;
    height: 43px;
    position: relative;
    top: 1px;
    border-bottom: 1px solid #f0626e;
    color: #00a1be;
}

.feturedtext li:hover{
    background-color: #f0626e;
}

.feturedtext li{
    position: relative;
    top: 13px;
    background-color:#323232;
    color: white;
    padding: 24px 26px;
    font-size: 180%;
}

.feturedpic{
    display: flex;
    justify-content:space-between;
    margin-top: 28px;
}

.feat1 a, .feat2 a, .feat3 a, .feat4 a{
    color: #b9b9b9;
}

.feat1>.list li:nth-child(n):hover, .feat2>.list li:nth-child(n):hover, .feat3>.list li:nth-child(n):hover, .feat4>.list li:nth-child(n):hover{
    background-color: #2F323A;
}

.feat1{
    font-family: 'Open Sans', sans-serif;
    height: 0.001px;
    position: relative;
    color: black;
    width: 270px;
}

.feat1 p:first-of-type{
    position: relative;
    padding: 8px 11px 22px 12px;
    font-size: 110%;
    border: 1px solid #d8d9db;
    top: -127px;
    left: 0.9px;
    background-color: white;
    letter-spacing: 1px;
}

.feat1 p:last-of-type{
    position: relative;
    font-size: 90%;
    top: -172px;
    left: 15px;
    color: #f0626e;
}

.feat1>.list li:first-child{
    position: relative;
    background-color: white;
    padding: 14.4px 18.5px;
    color: #b9b9b9;
    top: -163.5px;
    left: 1px;
    border: 1px solid #d8d9db;
}

.feat1>.list li:nth-child(2){
    position: relative;
    background-color: white;
    padding: 14.5px 20px;
    color: #b9b9b9;
     top: -163.5px;
    left: -3.5px;
    border: 1px solid #d8d9db;
}

.feat1>.list li:nth-child(3){
    position: relative;
    background-color: white;
    padding: 14.5px 20px;
    color: #b9b9b9;
     top: -163.5px;
    left: -7.5px;
    border: 1px solid #d8d9db;
}

.feat1>.list li:last-child{
    position: relative;
    background-color: #f0626e;
    padding: 10.4px 16.5px;
    color: white;
    font-size: 140%;
    top: -193.5px;
    left: 170px;
    border: 1px solid #d8d9db;
}

/*#off{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 65px;
    top:  -525px;
    left: 2px;
    color: white;
    padding: 6px 7.5px;
    background-color: #f0626e;
}*/



.feat2{
    font-family: 'Open Sans', sans-serif;
    height: 0.001px;
    position: relative;
    color: black;
    width: 270px;
}

.feat2 p:first-of-type{
    position: relative;
    padding: 8px 11px 22px 12px;
    font-size: 110%;
    border: 1px solid #d8d9db;
    top: -144px;
    left: 301px;
    background-color: white;
    letter-spacing: 1px;
}

.feat2 p:last-of-type{
    position: relative;
    font-size: 90%;
     top: -189px;
    left: 315px;
    color: #f0626e;
}

.feat2>.list li:first-child{
    position: relative;
    background-color: white;
    padding: 14.4px 18.5px;
    color: #b9b9b9;
    top: -181px;
    left: 301px;
    border: 1px solid #d8d9db;
}

.feat2>.list li:nth-child(2){
    position: relative;
    background-color: white;
    padding: 14.4px 20px;
    color: #b9b9b9;
    top: -181px;
    left: 295px;
    border: 1px solid #d8d9db;
}

.feat2>.list li:nth-child(3){
    position: relative;
    background-color: white;
    padding: 14.4px 19px;
    color: #b9b9b9;
    top: -181px;
    left: 290px;
    border: 1px solid #d8d9db;
}

.feat2>.list li:last-child{
    position: relative;
    background-color: #f0626e;
    padding: 9.7px 16.9px;
    color: white;
    font-size: 140%;
    top: -211px;
    left: 469px;
    border: 1px solid #d8d9db;
}



.feat3{
    font-family: 'Open Sans', sans-serif;
    height: 0.001px;
    position: relative;
    color: black;
    width: 270px;
}

.feat3 p:first-of-type{
    position: relative;
    padding: 8px 11px 22px 12px;
    font-size: 110%;
    border: 1px solid #d8d9db;
    top: -162px;
    left: 222.8%;
    background-color: white;
    letter-spacing: 1px;
}

.feat3 p:last-of-type{
    position: relative;
    font-size: 90%;
    top: -208px;
    left: 228%;
    color: #05aecc;
}

.feat3>.list li:first-child{
    position: relative;
    background-color: white;
    padding: 14.4px 18.5px;
    color: #b9b9b9;
    top: -198.5px;
    left: 222.8%;
    border: 1px solid #d8d9db;
}

.feat3>.list li:nth-child(2){
    position: relative;
    background-color: white;
    padding: 14.4px 20px;
    color: #b9b9b9;
    top: -198.5px;
    left: 221.5%;
    border: 1px solid #d8d9db;
}

.feat3>.list li:nth-child(3){
    position: relative;
    background-color: white;
    padding: 14.4px 19px;
    color: #b9b9b9;
    top: -198.5px;
    left: 219.9%;
    border: 1px solid #d8d9db;
}

.feat3>.list li:last-child{
    position: relative;
    background-color: #05aecc;
    padding: 9.9px 16.9px;
    color: white;
    font-size: 140%;
    top: -228.5px;
    left: 285%;
    border: 1px solid #d8d9db;
}

/*#new{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top:  -475.6px;
    left: 51.4%;
    width: 30px;
    color: white;
    padding: 6px 25px;
    background-color: #05aecc;
}*/



.feat4{
    font-family: 'Open Sans', sans-serif;
    height: 0.001px;
    position: relative;
    color: black;
    width: 270px;
}

.feat4 p:first-of-type{
    position: relative;
    padding: 8px 11px 22px 12px;
    font-size: 110%;
    border: 1px solid #d8d9db;
    top: -180px;
    left: 334%;
    background-color: white;
    letter-spacing: 1px;
}

.feat4 p:last-of-type{
    position: relative;
    font-size: 90%;
    top: -226.5px;
    left: 339%;
    color: #f0626e;
}

.feat4>.list li:first-child{
    position: relative;
    background-color: white;
    padding: 14.4px 18.5px;
    color: #b9b9b9;
    top: -216px;
    left: 334%;
    border: 1px solid #d8d9db;
}

.feat4>.list li:nth-child(2){
    position: relative;
    background-color: white;
    padding: 14.4px 20px;
    color: #b9b9b9;
    top: -216px;
    left: 332.5%;
    border: 1px solid #d8d9db;
}

.feat4>.list li:nth-child(3){
    position: relative;
    background-color: white;
    padding: 14.4px 19px;
    color: #b9b9b9;
    top: -216px;
    left: 331%;
    border: 1px solid #d8d9db;
}

.feat4>.list li:last-child{
    position: relative;
    background-color: #f0626e;
    padding: 9.9px 16.3px;
    color: white;
    font-size: 140%;
    top: -246.5px;
    left: 397%;
    border: 1px solid #d8d9db;
}



.weare{
    position: relative;
    top: -60px;
}

.weare p:last-of-type{
    position: relative;
    border-top: 1px solid #b9b9b9;
    padding: 28px 25px 0 25px;
    line-height: 26px;
    font-size: 110%;
    margin: 0;
}

.weare p:first-of-type{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 30px;
    letter-spacing: 1px;
    font-size: 180%;
    height: 43px;
    width: 185px;
    position: relative;
    z-index: 1;
    top: 1px;
    border-bottom: 1px solid #f0626e;
    color: #00a1be;
}

.items{
    display: flex;
    justify-content:space-between;
    position: relative;
    top: -25px;
}



#itempic1{
    position: relative;
    top: -225px;
    left: 3.7%;
}

#itempic2{
    position: relative;
    top: -225px;
    left: 25%;
}

#itempic3{
    position: relative;
    top: -225px;
    left: 47.5%;
}



#item1text{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -360px;
    left: 18%;
    width: 100px;
    font-size: 150%;
    color: white;
    margin: 0;
}

#item2text{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    height: 60px;
    width: 100px;
    top: -428px;
    left: 52%;
    font-size: 150%;
    color: white;
    margin: 0;
}

#item3text{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -470px;
    left: 86%;
    font-size: 150%;
    color: white;
    margin: 0;
}


#regbut{
    display: flex;
    margin: auto;
    position: relative;
    justify-content: center;
    padding-top: 13px;
    top: -30px;
    color: white;
    background-color: #05aecc;
    height: 61px;
    width: 648px;
    font-size: 175%;
    border: none;
}

#buttonreg{
    position: relative;
    top: -310px;
    margin: 0 11% 0 11%;
    border-bottom: 1px solid #d8d9db;
}

footer{
    margin: 0 11% 0 12.5%;
    position: relative;
    top: 16px;
    height: 380px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

table a{
    text-decoration-line: none;  
    color: #000;
}

#table1 tr:first-of-type{
    font-size: 150%;
    line-height: 90px;
    letter-spacing: 1px;
}

#table1{
    display: flex;
    float: left;
    line-height: 26px;
}

#table1>tbody{
    width: 767px;
}

#shop{
    width: 270px;
}

#about{
    width: 240px;
}


#table2{
    display: flex;
    width: 378px;
}

#table2>tbody{
    width: 378px;
}

#table2 tr:first-of-type{
    position: relative;
    top: -3px;
    font-size: 150%;
    line-height: 96.5px;
    letter-spacing: 1px;
    width: 378px;
}

#mail{
    border: 1px solid #d8d9db;
    height: 67px;
    font-size: 90%;
    padding-left: 105px;
}

#butsubscr>td{
    width: 378px;
    line-height: 70px;
}

#table2 button{
    position: relative;
    padding: 0;
    top: -15px;
    width: 378px;
    border-radius: 0;
    height: 52px;
    border: none;
    color: white;
    background-color: #05aecc;
}

#keep{
    font-size: 160%;
}

#icons{
    position: relative;
    top: -10px;
    font-size: 180%;
     color: white;
}
#wifi{
    color: white;
    padding: 13px 13.5px;
    background-color: #f8bc2e;
}

#facebook{
    color: white;
    padding: 13px 18.5px;
    margin-left: 6px;
    background-color: #39599f;
}

#twitter{
    color: white;
    padding: 13px 13px;
    margin-left: 4.5px;
    background-color: #45b0e3;
}

#dot{
    position: relative;
    top: 17px;
}

#google{
    color: white;
    padding: 12px 14px;
    margin-left: 4.5px;
    background-color: #1872bf;
}

#verybott{
    font-family: 'Open Sans', sans-serif;
    margin: 45px 11% 0 11%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d8d9db;
    border-bottom: 1px solid #d8d9db;
    padding: 8px 18px;
    font-size: 88%;
    font-weight: 400;
}

#word{
    color: red;
}
